.chip {
  background-color: #afafaf;
  color: #ffffff;
  height: 25px;
  font-size: 12px;
  border-radius: 5px;
  padding: 5px;
  display: inline-flex;
  align-items: center;
  min-width: 35px;
  margin-left: auto;
}

.men {
  background-color: #48c9b0;
}

.women {
  background-color: #f08080;
}

.gray {
  background-color: #afafaf;
}
